:root {
  --accent-color: #53ffab;
}

* {
  /* outline: 1px dashed red; */
  box-sizing: border-box;
}

img {
  display: inline;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #202632;
  font-family: sans-serif;
  color: white;
  display: grid;
  place-content: center;
}

.advice-container {
  width: 540px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #313a49;
  text-align: center;
}

.advice__number {
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.4em;
}

.advice__text {
  font-size: 2rem;
}

.icon-container {
  width: 64px;
  height: 64px;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: calc(50% - 32px);
  bottom: -48px;
}
